<div class="flex flex-col items-center justify-center gap-2 p-4 text-center">
    <h1 class="text-2xl font-bold text-blue-950">Améliorons ensemble la santé et la sécurité au travail !</h1>
    <img class="rounded-lg max-w-[350px] w-full h-auto my-1" src="assets/images/yes-we-care.png" alt="Near Miss" />
    <p> Vous êtes ici pour observer une situation spécifique liée à la sécurité ou à la santé au travail.</p>
    <p>Prenez une photo de cette situation et partagez-la immédiatement avec le responsable HSE (Hygiène, Sécurité, Environnement) de l’usine.</p>
    <p>Email : <a href="mailto:ons.benrhouma&#64;cascoauto.com" class="text-blue-500">ons.benrhouma&#64;cascoauto.com</a></p>
    <p>Merci pour votre engagement !</p>
</div>
