@import "mixins";
@import "spaces";

.container {
  padding: $xs;
  @include sm {
    padding-left: $sm;
    padding-right: $sm;
  }
  @include lg {
    padding-left: $md;
    padding-right: $md;
  }
}
