@use '@angular/material' as mat;
@import "colors";

@include mat.core();

$uc-theme: mat.define-light-theme((
  color: (
    primary: $uc-primary,
    accent: $uc-accent,
    warn: $uc-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

.dark {
  color: #fff;
  $dark-theme: mat.define-dark-theme((
    color: (
      primary: $uc-primary-dark,
      accent: $uc-accent-dark,
      warn: $uc-warn-dark,
    )
  ));

  @include mat.core-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
}

@include mat.core-theme($uc-theme);
@include mat.all-component-themes($uc-theme);
