@use '@angular/material' as mat;

$dark-text: rgba(black, 0.87);
$light-text: white;

$blue-theme: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);

/* LIGHT THEME */
$uc-primary: mat.define-palette($blue-theme, 900);
$uc-accent: mat.define-palette($blue-theme, 500);
$uc-warn: mat.define-palette(mat.$red-palette, 800);

/* DARK THEME */
$uc-primary-dark: mat.define-palette(mat.$deep-orange-palette, 300);
$uc-accent-dark: mat.define-palette(mat.$light-blue-palette, 300);
$uc-warn-dark: mat.define-palette(mat.$red-palette, 300);
