<div class="flex flex-col items-center">
  <div class="grid grid-cols-1 gap-4 my-3">
    <button type="button" class="btn btn-primary btn-lg bg-blue-500 text-white py-2 px-4 rounded" routerLink="./audit-lpa">Audit LPA</button>
    <button type="button" class="btn btn-primary btn-lg bg-blue-500 text-white py-2 px-4 rounded" routerLink="./audit-magasin">Audit Magasin</button>
    <button type="button" class="btn btn-primary btn-lg bg-blue-500 text-white py-2 px-4 rounded" routerLink="./audit-5s">Audit 5S</button>
    <button type="button" class="btn btn-primary btn-lg bg-blue-500 text-white py-2 px-4 rounded" routerLink="./near-miss">NearMiss</button>
  </div>
</div>
